<h1 class="text-light fw-bold" style="--bs-text-opacity: .5;">Login</h1>

<%= form_with :url => "/sessions" do |form| %>
  <p>
    <%= form.label "email" %>
    <%= form.text_field "email" %>
  </p>
  <p>
    <%= form.label "password" %>
    <%= form.password_field "password" %>
  </p>
  <button type="submit" class="btn btn-light">
    Login
  </button>
<% end %>