<h1 class="text-light fw-bold" style="--bs-text-opacity: .5;"><%= @place["name"] %></h1>


<a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-light">New Post</a>




<h3 class="text-light fw-bold" style="--bs-text-opacity: .5;"> My Posts</h3>




<div class="row">
  <% for post in @posts %>
    <div class="col-md-6 col-lg-4">
      <h3 class="text-light fw-bold"><%= post["title"] %></h3>
      
      <h4><%= post["posted_on"] %></h4>
      <p><%= post["description"] %></p>
      <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= post["image"] %>" class="img-fluid">
      <% end %>
    </div>
  <% end %>
</div>

